In [1]:
# importing important libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#importing the dataset
df=pd.read_csv('Downloads\\dataset and all\\training_set_features.csv')
test_df=pd.read_csv('Downloads\\dataset and all\\test_set_features.csv')
y=pd.read_csv('Downloads\\dataset and all\\training_set_labels.csv')

In [3]:
df_ob2=df.iloc[:,0:22]
df_ob2.drop(['health_insurance'], axis=1, inplace=True)

In [4]:
## feature engineering / Handling categorical values ------
from sklearn.preprocessing import OneHotEncoder
df_ob1=df.iloc[:,22:31]
df_ob1=df_ob1.drop(['income_poverty','hhs_geo_region','education'],axis=1)
df_ob1['sex']=df_ob1['sex'].map({'Female':0, 'Male':1})
df_ob1['marital_status']=df_ob1['marital_status'].map({'Not Married':0, 'Married':1})
df_ob1['rent_or_own']=df_ob1['rent_or_own'].map({'Rent':0, 'Own':1})

## encoding for race column 
encoder = OneHotEncoder(categories='auto', sparse=False)
data_encoded = encoder.fit_transform(df_ob1[['race']])
categories = encoder.categories_[0]
encoded_df = pd.DataFrame(data_encoded, columns=categories)
df_ob1 = pd.concat([df_ob1, encoded_df], axis=1)
df_ob1=df_ob1.drop(['race'], axis=1)

##encoding for age_group column 
data_encoded_1 = encoder.fit_transform(df_ob1[['age_group']])
categories_1 = encoder.categories_[0]
encoded_df_1= pd.DataFrame(data_encoded_1, columns=categories_1)
df_ob1 = pd.concat([df_ob1, encoded_df_1], axis=1)
df_ob1=df_ob1.drop(['age_group'], axis=1)

##encoding for  employment_status 
data_encoded_2 = encoder.fit_transform(df_ob1[['employment_status']])
categories_2 = encoder.categories_[0]
encoded_df_2= pd.DataFrame(data_encoded_2, columns=categories_2)
df_ob1 = pd.concat([df_ob1, encoded_df_2], axis=1)
df_ob1=df_ob1.drop(['employment_status','Other or Multiple'], axis=1)
last_index=df_ob1.columns[-1]
df_ob1.drop([last_index], axis=1,inplace=True)
df_ob1

C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,65+ Years,Employed,Not in Labor Force,Unemployed
0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
26703,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
26704,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
26705,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
26706,1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [5]:
##--a function to find number of null values in each feature 
def null_values(data):
    feature_name=[]
    for feature in data.columns:
        a=data[feature].isna().sum()
        feature_name.append(feature)
        feature_name.append(a)
    return feature_name

In [6]:
df_fi=pd.concat([df_ob1,df_ob2],axis=1)

In [7]:
##  Handling missing/nan values in all columns----
def replace_miss_val(data):
    for feature in data.columns:
        data[feature]=data[feature].fillna(data[feature].mode()[0])
    return data

In [8]:
##-- replacing the missing values with mode value of each column 
X=replace_miss_val(df_fi)
X=X.drop(X.columns[-2:], axis=1)

X.drop(columns=['respondent_id'], inplace=True)
y.drop(columns=['respondent_id'], inplace=True)

In [9]:
X.head()

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,...,behavioral_touch_face,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective
0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0
1,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0,4.0,4.0
2,1,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,1.0,4.0
3,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,3.0,3.0,5.0,5.0
4,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,2.0,3.0

In [10]:
y.head()

   xyz_vaccine  seasonal_vaccine
0            0                 0
1            0                 1
2            0                 0
3            0                 1
4            0                 0

In [11]:
#performing train test split 
from sklearn.model_selection import train_test_split
##train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
## model builing 
from sklearn.naive_bayes import BernoulliNB,GaussianNB
bnb=BernoulliNB()
gnb=GaussianNB()
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
from sklearn.metrics import roc_auc_score

In [13]:
## y test and train for xyz vaccine 
y_train_1= y.drop(['seasonal_vaccine'], axis=1)
#y_test_1 = y_test.drop(['seasonal_vaccine'], axis=1)
## y test and train for seasonal vaccine 
y_train_2= y.drop(['xyz_vaccine'], axis=1)
#y_test_2 = y_test.drop(['xyz_vaccine'], axis=1)
X.columns = X.columns.astype(str)
y.columns = y.columns.astype(str)
#X_test.columns = X_test.columns.astype(str)
#y_test.columns = y_test.columns.astype(str)
X

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,...,behavioral_touch_face,doctor_recc_xyz,doctor_recc_seasonal,chronic_med_condition,child_under_6_months,health_worker,opinion_xyz_vacc_effective,opinion_xyz_risk,opinion_xyz_sick_from_vacc,opinion_seas_vacc_effective
0,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0
1,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,5.0,4.0,4.0,4.0
2,1,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,1.0,4.0
3,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,3.0,3.0,5.0,5.0
4,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26702,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,5.0
26703,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,4.0,2.0,2.0,5.0
26704,0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,2.0,5.0
26705,0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0
26706,1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,1.0,5.0

In [14]:
##-- I have applied Gaussian Naive Bayes algorithm , it is given 0.70 roc auc score  
##-- I have already found the performance using test and training data by performing train test split
##-- I have choosen model with the best roc auc score 

model1=gnb.fit(X, y_train_1)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
##-- I have applied Logistic Regression algorithm , it is given 0.76 roc auc score  

model2=log_reg.fit(X, y_train_2)

C:\Users\User\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
test_df.head()

,respondent_id,xyz_concern,xyz_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

In [17]:
## feature engineering of test data given

In [18]:
## feature engineering / Handling categorical values ------
from sklearn.preprocessing import OneHotEncoder
test_df_ob1=test_df.iloc[:,22:31]
test_df_ob1=test_df_ob1.drop(['income_poverty','hhs_geo_region','education'],axis=1)
test_df_ob1['sex']=test_df_ob1['sex'].map({'Female':0, 'Male':1})
test_df_ob1['marital_status']=test_df_ob1['marital_status'].map({'Not Married':0, 'Married':1})
test_df_ob1['rent_or_own']=test_df_ob1['rent_or_own'].map({'Rent':0, 'Own':1})

## encoding of race column 
encoder_test = OneHotEncoder(categories='auto', sparse=False)
data_encoded_test = encoder_test.fit_transform(test_df_ob1[['race']])
categories_test = encoder_test.categories_[0]
encoded_df_test = pd.DataFrame(data_encoded_test, columns=categories_test)
test_df_ob1 = pd.concat([test_df_ob1, encoded_df_test], axis=1)
##encoding for age_group column 

data_encoded_1_test = encoder_test.fit_transform(test_df_ob1[['age_group']])
categories_1_test = encoder_test.categories_[0]
encoded_df_1_test= pd.DataFrame(data_encoded_1_test, columns=categories_1_test)
test_df_ob1 = pd.concat([test_df_ob1, encoded_df_1_test], axis=1)
test_df_ob1=test_df_ob1.drop(['age_group'], axis=1)
test_df_ob1=test_df_ob1.drop(['race'], axis=1)
test_data=replace_miss_val(test_df_ob1)
##encoding for  employment_status 

data_encoded_2_test = encoder_test.fit_transform(test_df_ob1[['employment_status']])
categories_2_test = encoder_test.categories_[0]
encoded_df_2_test= pd.DataFrame(data_encoded_2_test, columns=categories_2_test)
test_df_ob1 = pd.concat([test_df_ob1, encoded_df_2_test], axis=1)
test_df_ob1=test_df_ob1.drop(['employment_status','Other or Multiple'], axis=1)
#last_index=test_df_ob1.columns[-1]
#test_df_ob1.drop([last_index],axis=1, inplace=True)
test_df_ob1.head()

C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
C:\Users\User\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,sex,marital_status,rent_or_own,Black,Hispanic,White,18 - 34 Years,35 - 44 Years,45 - 54 Years,55 - 64 Years,65+ Years,Employed,Not in Labor Force,Unemployed
0,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [19]:
test_df_ob2=test_df.iloc[:,0:22]
test_df_ob2.drop(['health_insurance'], axis=1, inplace=True)
df_fi_out=pd.concat([test_df_ob1,test_df_ob2],axis=1)

In [26]:
## replacing the missing values with mode values in each column 
df_fi_out=replace_miss_val(df_fi_out)
df_fi_out.columns = df_fi_out.columns.astype(str)
res_pon=df_fi_out['respondent_id']
respondent_id=pd.DataFrame(res_pon).rename(columns={0:'respondent_id'})
df_fi_out=df_fi_out.drop(['opinion_seas_risk','opinion_seas_sick_from_vacc','respondent_id'],axis=1)
y_pred=model1.predict(df_fi_out)

In [27]:
xyz_vaccine_pred=pd.DataFrame(y_pred).rename(columns={0:'xyz_vaccine_pred'})
y_pred_1=model2.predict(df_fi_out)
seasonal_vaccine_pred=pd.DataFrame(y_pred_1).rename(columns={0:'seasonal_vaccine_pred'})

In [31]:
final_data=pd.concat([respondent_id,xyz_vaccine_pred,seasonal_vaccine_pred], axis=1)
#final_data=final_data.reset_index().rename(columns={'index':'repondent_id'})

In [32]:
##-- It is the final prediction of test data in the problem statement 
final_data

       respondent_id  xyz_vaccine_pred  seasonal_vaccine_pred
0              26707                 0                      0
1              26708                 0                      0
2              26709                 1                      1
3              26710                 0                      1
4              26711                 1                      0
...              ...               ...                    ...
26703          53410                 1                      1
26704          53411                 1                      0
26705          53412                 0                      0
26706          53413                 0                      0
26707          53414                 0                      0

[26708 rows x 3 columns]